mixin form(action, method)
  if err 
    div 
      div error 
      ul
        each error in err.errors 
          li
            div=error.path.join('.')
            div=error.message

  form(action=action, method="post", enctype="multipart/form-data")
    input(type="hidden", name="_method", value=method)
    
    div
      input(name="name", value=data.name)
    div  
      input(name="photo", type="file", value=data.photo)

    if data.photoCache
      div 
        img(src=`/admins/${data.adminId}/users/photo_cache/${data.photoCache}`, width="120")   
        input(name="photoCache", type="hidden", value=data.photoCache)

    div  
      input(type="submit")