mixin form(action, method, phase = false)
  if err 
    div 
      div error 
      ul
        each error in err.errors 
          li
            div=error.path.join('.')
            div=error.message

  form(action=action, method="post")
    input(type="hidden", name="_method", value=method)
    
    div
      input(name="title", value=task.title)
    div  
      textarea(name="description")=task.description

    div   
      label
        input(type="checkbox", name="subtasks[]", value="1", checked=task.subtasks.includes(1))
        | subtask1
      label
        input(type="checkbox", name="subtasks[]", value="2", checked=task.subtasks.includes(2))
        | subtask2

    if task.phases && task.phases.length > 0
      each phase, index in task.phases
        fieldset 
          legend=phase.title || 'new phase'
          div
            label title:
              input(name=`phases[${index}].title`, value=phase.title)
          div    
            label point:
              input(name=`phases[${index}].point`, type="number", value=phase.point)
          label
            input(type="checkbox", name=`phases[${index}].subtasks[]`, value="1", checked=phase.subtasks.includes(1))
            | subtask1
          label
            input(type="checkbox", name=`phases[${index}].subtasks[]`, value="2", checked=phase.subtasks.includes(2))
            | subtask2

    div  
      input(type="submit")