mixin form(action, method, phase = false)
  if err 
    div 
      div error 
      ul
        each error in err.errors 
          li
            div=error.path.join('.')
            div=error.message

  form(action=action, method="post")
    input(type="hidden", name="_method", value=method)
    
    div
      input(name="title", value=task.title)
    div  
      textarea(name="description")=task.description

    div   
      label
        input(type="checkbox", name="subtasks[]", value="1", checked=task.subtasks.includes(1))
        | subtask1
      label
        input(type="checkbox", name="subtasks[]", value="2", checked=task.subtasks.includes(2))
        | subtask2

    if phase
      fieldset 
        legend phase0
        div
          label title:
            input(name="phases[0].title", value=task.phases[0].title)
        div    
          label point:
            input(name="phases[0].point", type="number", value=task.phases[0].point)
        label
          input(type="checkbox", name="phases[0].subtasks[]", value="1", checked=task.phases[0].subtasks.includes(1))
          | subtask1
        label
          input(type="checkbox", name="phases[0].subtasks[]", value="2", checked=task.phases[0].subtasks.includes(2))
          | subtask2
      fieldset  
        legend phase1
        div
          label title:
            input(name="phases[1].title", value=task.phases[1].title)
        div    
          label point:
            input(name="phases[1].point", type="number", value=task.phases[1].point)
        label
          input(type="checkbox", name="phases[1].subtasks[]", value="1", checked=task.phases[1].subtasks.includes(1))
          | subtask1
        label
          input(type="checkbox", name="phases[1].subtasks[]", value="2", checked=task.phases[1].subtasks.includes(2))
          | subtask2

    div  
      input(type="submit")